<div class = "box">
    <h1>Michael Page</h1>
    <h2>Full Stack Java Developer</h2>
    <p>
      Elevator Pitch here 
    </p>
    <table>
      <tr>
        <th>Skills:</th>
        <th>Other:</th>
      </tr>
      <tr>
        <td>Angular</td>
        <td>Java</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Spring</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>MySQL</td>
      </tr>
    </table>
    <hr/>
    <p>
    History
      <br/>
      Philosophy 
      <br/>
      Close
    </p>
  </div>