<div class = "box">
    <h1>Michael Page</h1>
    <h2>Full Stack Java Developer</h2>
    <p>
      Hello, I'm a proud veteran of the United States Army Infantry. I came to Max Train
      to prepare for the next phase of my career. For the better part of the last 20 years,
      I've been in customer facing roles with sales-based organizations. I learned quickly
      that data and information is the lifes blood of the companies I worked for; and that my
      partners in IT had a big role in my success. I'm excited and proud to be joining the ranks of 
      a profession that I've admired for so long. 
    </p>
    <table>
      <tr>
        <th>Skills:</th>
        <th>Other:</th>
      </tr>
      <tr>
        <td>Angular</td>
        <td>Java</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Spring</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>MySQL</td>
      </tr>
    </table>
    <hr/>
    <p>
    History
      <br/>
      Philosophy 
      <br/>
      Close
    </p>
  </div>