<div class = "component">
    <div>
      <span class ="page title">Product Create</span>
  </div>
  
  <div class="container form" *ngIf="product">
  
  <div class="form-group row">
      <label class="col-form-label col-sm-2">Vendor:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="product.vendor" class="form-control" type="text" name="code"
          #code="ngModel" required minlength="8">
      </div>
      <div *ngIf="vendor.invalid && code.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="vendor?.errors.required">Required</label>
        <label *ngIf="vendor?.errors.minlength">8 chars min</label>
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Part Number:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="product.partNumber" class="form-control" type="text" name="partnumber"
          #partnumber="ngModel" required minlength="0">
      </div>
      <div *ngIf="partnumber.invalid && partnumber.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="partnumber?.errors.required">Required</label>
        <label *ngIf="partnumber?.errors.minlength">8 chars min</label>
      </div>
    </div>
  
  
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Name:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="product.name" class="form-control" type="text" name="name"
          #name="ngModel" required minlength="0">
      </div>
      <div *ngIf="name.invalid && name.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="name?.errors.required">Required</label>
        <label *ngIf="name?.errors.minlength">8 chars min</label>
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Price:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="product.price" class="form-control" type="text" name="price"
          #price="ngModel" required minlength="0">
      </div>
      <div *ngIf="price.invalid && price.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="price?.errors.required">Required</label>
        <label *ngIf="price?.errors.minlength">8 chars min</label>
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Unit:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="product.price" class="form-control" type="text" name="price"
          #price="ngModel" required minlength="0">
      </div>
      <div *ngIf="price.invalid && price.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="price?.errors.required">Required</label>
        <label *ngIf="price?.errors.minlength">8 chars min</label>
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Photo Path:</label>
      <div class="col-sm-8">
        <input [(ngModel)]="product.photoPath" class="form-control" type="text" name="photopath"
          #photopath="ngModel" required minlength="0">
      </div>
      <div *ngIf="photopath.invalid && zip.touched" class="col-form-label col-sm-2 text-danger">
        <label *ngIf="photopath?.errors.required">Required</label>
        <label *ngIf="photopath?.errors.minlength">8 chars min</label>
      </div>
    </div>
  
  
          <div>
            <button class="btn btn-primary" (click)="save()">Save</button> <!--Save() is the function-->
          </div>
  </div>
  </div>