<app-menu></app-menu>
<div class="component">
  <div>
    <span>Request Lines</span>
    | <a *ngIf="purchaserequest" routerLink='//requests/request-lines/{{request.Id}}'>Create New</a>
  </div>
  <div *ngIf="purchaserequest">
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Id</td>
          <td>Description</td>
          <td>Status</td>
          <td>Total</td>
          <td>User</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ purchaserequest.Id }}</td>
          <td>{{ purchaserequest.Description }}</td>
          <td>{{ purchaserequest.Status }}</td>
          <td>{{ purchaserequest.Total | currency }}</td>
          <td>{{ purchaserequest.User.Lastname }}</td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Product</td>
          <td>Quantity</td>
          <td>Subtotal</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lineitem of purchaserequest.Lineitems">
          <td>{{ lineitem.Product.Name }}</td>
          <td>{{ lineitem.Quantity }}</td>
          <td>{{ lineitem.Product.Price * reqline.Quantity | currency  }}</td>
          <td>
            <a routerLink='/lineitems/detail/{{lineitem.Id}}'>Detail</a>
            | <a routerLink='/lineitems/edit/{{lineitem.Id}}'>Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>