<div class = "box">
    <h1>PRS (Purchase Request System)</h1>
    <h2>Capstone</h2>
    <p>
      The purchase request system (PRS) project was completed by the Java Fall 2018 boot camp at
      MAX Technical Training/Cincy Code IT. The project utilizes several programs that were learned
      in the class, including:
    </p>
    <table>
      <tr>
        <th>Front-End:</th>
        <th>Back-End:</th>
      </tr>
      <tr>
        <td>Angular</td>
        <td>Java</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>Spring</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>MySQL</td>
      </tr>
    </table>
    <hr/>
    <p>
      The purchase request system generates requests for items needed by employees. 
      The requests are then sent to purchasing for review. Once approved, a purchase order 
      is generated and the items ordered.  
      The PRS assists in control and tracking of purchases within the organization.
      <br/>
      A user logs in to make a purchase request with their username and password. Once the
      user makes a purchase request, they can perform basic CRUD functions.
      The purchase request is then reviwed, approved, or rejected. 
      <br/>
      The PRS data base contains lists of products, users, and approved vendors.
    </p>
  </div>